/* ========================
        Main styles 
===========================*/

* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

header h1 {
    font-size: 3rem;
}

header a {
    text-decoration: none;
}


/* ========================
        Body Component styles 
===========================*/

#search-field {
    padding: 15px;
    margin: 15px auto;
}

.search {
    margin: 10px;
    outline: none;
}

.search:focus {
    outline: 1px double #32a1ce;
}

#gallery {
    max-width: 1000px;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.thumbnails {
    margin: 15px;
    border-radius: 10%;
    filter: contrast(93.5%);
}

.thumbnails:hover {
    box-shadow: 0px 0px 1px white, 0px 0px 2px rgb(53, 60, 68), 0px 0px 3px 4px rgba(126, 139, 153, 0.25);
    filter: contrast(105%);
    filter: brightness(1.1);
}


/* ========================
        Footer styles 
===========================*/

footer {
    border-top: 2px solid rgba(70, 131, 180, 0.568);
    margin-top: 45px;
    padding: 30px;
    background: rgba(105, 101, 134, 0.452);
    color: rgba(255, 255, 255, 0.9);
}

footer h3 {
    text-shadow: -3px 1px 6px rgba(0, 0, 0, .2);
}

footer h3:hover {
    cursor: pointer;
}


/* ==========================
Styles for lightbox overrides 
=============================*/

.mfp-title {
    text-align: center;
    line-height: 25px;
    color: #F3F3F3;
    word-wrap: break-word;
    padding: 10px;
    width: 400px;
    margin: 0 auto;
}


/* =========================
        Animations 
        
============================*/

.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


/* overlay animate in */

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


/* overlay animate out */

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


/* content at start */

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


/* content animate it */

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}


/* content animate out */

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}


/* ==========================
        Media Queries  
=============================*/

@media (max-width: 800px) {
    header,
    .container {
        max-width: 80%;
        text-align: center;
        margin: 0 auto;
    }
    .mfp-arrow {
        visibility: hidden;
    }
    input::placeholder {
        font-size: 80%;
    }
    .mfp-title {
        text-align: center;
        line-height: 15px;
        color: #F3F3F3;
        word-wrap: break-word;
        padding: 15px;
        width: 300px;
        margin: 0 auto;
    }
}

@media (max-width: 350px) {
    .search-field {
        max-width: 200px;
    }
    .search {
        margin: 10px;
        max-width: 150px;
    }
}